html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Commissioner", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 0;
  font-size: 2rem;
  padding: 0 1rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.8rem;
  }
}

.intro__tagline {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.7;
  color: #7a7a7a;
}

@media screen and (min-width: 1024px) {
  .intro__tagline {
    font-size: 1.6rem;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fafafa;
}

header {
  background: url(../../images/image-hero-mobile.jpg) no-repeat;
  background-size: cover;
  height: 300px;
  padding-top: 3.2rem;
}

@media screen and (min-width: 768px) {
  header {
    background: url(../../images/image-hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  header {
    height: 400px;
    padding-top: 4.8rem;
  }
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  width: 88%;
}

.overlay {
  display: none;
}

.overlay.active {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 1024px) {
  main .container {
    width: 70%;
  }
}

@media screen and (min-width: 1440px) {
  main .container {
    width: 50%;
  }
}

button {
  cursor: pointer;
  outline: none;
}

.btn {
  border-radius: 33.5px;
  border: none;
  padding: 1.8rem 4.2rem;
}

.btn--primary {
  background: #3cb3ab;
  color: #fff;
  font-weight: 700;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav__item {
  padding: 0 1.6rem;
}

.nav__item:last-of-type {
  padding-right: 0;
}

.nav__item a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
}

.nav__toggler {
  width: 16px;
  height: 15px;
  background: url(../../images/icon-hamburger.svg);
  background-size: cover;
}

@media screen and (min-width: 1024px) {
  .nav__toggler {
    display: none;
  }
}

.nav.expanded {
  position: relative;
}

.nav.expanded .nav__list {
  display: block;
  background: #fff;
  position: absolute;
  top: 62px;
  width: 100%;
  border-radius: 8px;
}

.nav.expanded .nav__item {
  padding: 2.4rem;
  border-bottom: 1px solid rgba(47, 47, 47, 0.1);
}

.nav.expanded .nav__item:last-of-type {
  border-bottom: none;
}

.nav.expanded .nav__item a {
  color: #000;
  font-size: 1.8rem;
}

.nav.expanded .nav__toggler {
  background: url(../../images/icon-close-menu.svg) no-repeat center/cover;
}

.intro {
  background: #fff;
  border-radius: 8px;
  padding: 5.2rem 2.4rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: -55px;
}

@media screen and (min-width: 768px) {
  .intro {
    padding: 5.2rem 4.8rem 4rem;
  }
}

.intro__logo {
  position: absolute;
  top: -28px;
}

.intro__tagline {
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 768px) {
  .intro__tagline {
    margin-bottom: 4rem;
  }
}

.intro__content {
  -ms-flex-item-align: start;
      align-self: start;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__back {
  font-size: 1.6rem;
}

.intro__bookmark {
  border: none;
  background: transparent;
  border-radius: 33.5px;
}

@media screen and (min-width: 768px) {
  .intro__bookmark {
    position: relative;
    padding: 1.8rem 4.2rem;
    background: rgba(47, 47, 47, 0.05);
  }
}

@media screen and (min-width: 768px) {
  .intro__bookmark .bookmark--icon {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.intro__bookmark .bookmark--text {
  padding-left: 3rem;
  font-weight: 700;
  display: none;
  color: #7a7a7a;
}

@media screen and (min-width: 768px) {
  .intro__bookmark .bookmark--text {
    display: initial;
  }
}
/*# sourceMappingURL=styles.css.map */