html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Commissioner", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 0;
  font-size: 2rem;
  padding: 0 1rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.8rem;
  }
}

h2 {
  margin-top: 0;
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

.intro__tagline {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.7;
  color: #7a7a7a;
}

@media screen and (min-width: 1024px) {
  .intro__tagline {
    font-size: 1.6rem;
  }
}

.stat__title {
  font-size: 3.2rem;
  font-weight: 700;
}

.stat__tagline {
  font-size: 1.4rem;
  color: #7a7a7a;
}

.about__tagline {
  font-size: 1.4rem;
  color: #7a7a7a;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .about__tagline {
    font-size: 1.6rem;
  }
}

.product__title {
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .product__title {
    font-size: 1.8rem;
  }
}

.product__badge {
  font-size: 1.4rem;
  color: #3cb3ab;
}

@media screen and (min-width: 768px) {
  .product__badge {
    font-size: 1.5rem;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fafafa;
}

header {
  background: url(../../images/image-hero-mobile.jpg) no-repeat;
  background-size: cover;
  height: 300px;
  padding-top: 3.2rem;
}

@media screen and (min-width: 768px) {
  header {
    background: url(../../images/image-hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  header {
    height: 400px;
    padding-top: 4.8rem;
  }
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  width: 88%;
}

.overlay {
  display: none;
}

.overlay.active {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 1024px) {
  main .container {
    width: 70%;
  }
}

@media screen and (min-width: 1440px) {
  main .container {
    width: 50%;
  }
}

button {
  cursor: pointer;
  outline: none;
}

.btn {
  border-radius: 33.5px;
  border: none;
  padding: 1.8rem 4.2rem;
}

.btn--primary {
  background: #3cb3ab;
  color: #fff;
  font-weight: 700;
}

.product {
  padding: 2.4rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 768px) {
  .product {
    padding: 4rem 3.2rem 3.2rem;
  }
}

.product:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .product__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.product__title {
  margin: 0;
}

.product__badge {
  display: inline-block;
  margin-top: 0.8rem;
}

@media screen and (min-width: 768px) {
  .product__badge {
    margin-top: 0;
  }
}

.product__description {
  margin: 2.4rem 0 0;
  font-size: 1.4rem;
  color: #7a7a7a;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .product__description {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 768px) {
  .product__select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.product__left {
  font-size: 3.2rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.4rem 0;
}

@media screen and (min-width: 768px) {
  .product__left {
    margin-bottom: 0;
  }
}

.product__left .left-text {
  font-size: 1.5rem;
  font-weight: 400;
  color: #7a7a7a;
  padding-left: 1rem;
}

.product .btn {
  padding: 1.6rem 3.2rem;
  font-size: 1.4rem;
}

.product.sold-out {
  opacity: 0.4;
}

.product.sold-out .btn {
  background: rgba(47, 47, 47, 0.5);
}

.product.modal {
  position: relative;
}

@media screen and (min-width: 768px) {
  .product.modal {
    padding: 3.6rem 2.8rem 3.2rem;
  }
}

.product.modal .product__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .product.modal .product__heading {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.product.modal .product__radio-container {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.6rem;
}

@media screen and (min-width: 768px) {
  .product.modal .product__radio-container {
    margin-right: 2.4rem;
  }
}

.product.modal .product__radio-container .product__radio {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 100%;
}

@media screen and (min-width: 768px) {
  .product.modal .product__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .product.modal .product__badge {
    margin-left: 1.6rem;
  }
}

@media screen and (min-width: 768px) {
  .product.modal .product__description {
    font-size: 1.5rem;
    padding-left: 4.8rem;
  }
}

.product.modal .product__left {
  font-size: 1.8rem;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .product.modal .product__left {
    margin-top: 0;
    position: absolute;
    top: 36px;
    right: 28px;
  }
}

.product.modal .product__left .text-left {
  padding-left: 0.8rem;
}

.product.modal.selected {
  border: 2px solid #3cb3ab;
}

.product.modal.selected .product__radio {
  background: #3cb3ab;
}

.product.modal.selected .product__pledge {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin: 2.4rem -2.4rem 0;
  padding: 2.4rem;
}

@media screen and (min-width: 768px) {
  .product.modal.selected .product__pledge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
  }
}

.product.modal.selected .product__pledge .pledge__tagline {
  text-align: center;
  margin-top: 0;
  font-size: 1.4rem;
  color: #7a7a7a;
}

@media screen and (min-width: 768px) {
  .product.modal.selected .product__pledge .pledge__tagline {
    margin-bottom: 0;
    font-size: 1.6rem;
  }
}

.product.modal.selected .product__pledge .pledge__confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.product.modal.selected .product__pledge .pledge__confirm input[type='number'] {
  width: 100px;
  border-radius: 33.5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 1.6rem 1.6rem 1.6rem 4.2rem;
  font-weight: 700;
  caret-color: #3cb3ab;
  outline: none;
  margin-right: 1.6rem;
}

.product.modal.selected .product__pledge .pledge__confirm input[type='number']::-webkit-inner-spin-button, .product.modal.selected .product__pledge .pledge__confirm input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.product.modal.selected .product__pledge .pledge__confirm .pledge__icon {
  position: absolute;
  top: 16px;
  left: 24px;
  color: #7a7a7a;
}

.product.modal.selected .product__pledge .pledge__confirm .btn {
  width: 115px;
  padding: 1.6rem 2.4rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav__item {
  padding: 0 1.6rem;
}

.nav__item:last-of-type {
  padding-right: 0;
}

.nav__item a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
}

.nav__toggler {
  width: 16px;
  height: 15px;
  background: url(../../images/icon-hamburger.svg);
  background-size: cover;
}

@media screen and (min-width: 1024px) {
  .nav__toggler {
    display: none;
  }
}

.nav.expanded {
  position: relative;
}

.nav.expanded .nav__list {
  display: block;
  background: #fff;
  position: absolute;
  top: 62px;
  width: 100%;
  border-radius: 8px;
}

.nav.expanded .nav__item {
  padding: 2.4rem;
  border-bottom: 1px solid rgba(47, 47, 47, 0.1);
}

.nav.expanded .nav__item:last-of-type {
  border-bottom: none;
}

.nav.expanded .nav__item a {
  color: #000;
  font-size: 1.8rem;
}

.nav.expanded .nav__toggler {
  background: url(../../images/icon-close-menu.svg) no-repeat center/cover;
}

.intro {
  background: #fff;
  border-radius: 8px;
  padding: 5.2rem 2.4rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: -55px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 768px) {
  .intro {
    padding: 5.2rem 4.8rem 4rem;
  }
}

.intro__logo {
  position: absolute;
  top: -28px;
}

.intro__tagline {
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 768px) {
  .intro__tagline {
    margin-bottom: 4rem;
  }
}

.intro__content {
  -ms-flex-item-align: start;
      align-self: start;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__back {
  font-size: 1.6rem;
}

.intro__bookmark {
  border: none;
  background: transparent;
  border-radius: 33.5px;
}

@media screen and (min-width: 768px) {
  .intro__bookmark {
    position: relative;
    padding: 1.8rem 4.2rem;
    background: rgba(47, 47, 47, 0.05);
  }
}

@media screen and (min-width: 768px) {
  .intro__bookmark .bookmark--icon {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.intro__bookmark .bookmark--text {
  padding-left: 3rem;
  font-weight: 700;
  display: none;
  color: #7a7a7a;
}

@media screen and (min-width: 768px) {
  .intro__bookmark .bookmark--text {
    display: initial;
  }
}

.discover {
  padding: 3.2rem 2.4rem 4rem;
  background: #fff;
  margin-top: 2.4rem;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 768px) {
  .discover {
    padding: 4.8rem;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

@media screen and (min-width: 768px) {
  .discover__stats-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 3.6rem;
  }
}

.discover__stat {
  text-align: center;
  padding: 2.4rem 0;
  position: relative;
}

@media screen and (min-width: 768px) {
  .discover__stat {
    padding: 0 4.2rem;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    text-align: left;
    width: 33%;
  }
}

.discover__stat:first-of-type {
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  .discover__stat:first-of-type {
    padding-left: 0;
  }
}

.discover__stat::after {
  content: '';
  width: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media screen and (min-width: 768px) {
  .discover__stat::after {
    content: none;
  }
}

.discover__stat:last-of-type::after {
  content: none;
}

@media screen and (min-width: 768px) {
  .discover__stat:last-of-type {
    border-right: none;
  }
}

.discover .stat__title {
  display: block;
  margin-bottom: 0.9rem;
}

.discover .stat__tagline {
  display: block;
  margin: 0;
}

.discover__progress {
  width: 100%;
  height: 12px;
  background: rgba(47, 47, 47, 0.05);
  border-radius: 33.5px;
  margin-top: 0.8rem;
}

.discover__progress .progress__bar {
  width: 85%;
  background: #3cb3ab;
  height: 100%;
  border-radius: 33.5px;
}

.about {
  background: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 2.4rem;
  padding: 4rem 2.4rem;
}

@media screen and (min-width: 768px) {
  .about {
    padding: 4.8rem;
  }
}

.about__tagline {
  margin: 0;
  margin-bottom: 3.6rem;
}

.backing-modal {
  display: none;
  background: #fff;
  padding: 3.2rem 2.4rem;
  border-radius: 8px;
  position: absolute;
  top: 121px;
}

@media screen and (min-width: 768px) {
  .backing-modal {
    padding: 4.8rem;
  }
}

@media screen and (min-width: 1024px) {
  .backing-modal {
    top: 184px;
  }
}

.backing-modal .backing__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.backing-modal .backing__title {
  margin: 0;
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  .backing-modal .backing__title {
    font-size: 2.4rem;
  }
}

.backing-modal .backing__tagline {
  margin: 2.4rem 0;
  font-size: 1.4rem;
  line-height: 1.7;
  color: #7a7a7a;
}

@media screen and (min-width: 768px) {
  .backing-modal .backing__tagline {
    font-size: 1.6rem;
  }
}

.backing-modal.open {
  display: block;
}
/*# sourceMappingURL=styles.css.map */