.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
		display: none;

		@include desktop {
			display: flex;
			justify-content: space-between;
		}
	}

	&__item {
		padding: 0 1.6rem;

		&:last-of-type {
			padding-right: 0;
		}

		a {
			display: block;
			text-decoration: none;
			color: #fff;
			font-size: 1.3rem;
			font-weight: 500;
			text-shadow: 1px 1px 0 #7a7a7a;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__toggler {
		width: 16px;
		height: 15px;
		background: url(../../images/icon-hamburger.svg);
		background-size: cover;

		@include desktop {
			display: none;
		}
	}
}

// Nav Modal

.nav.expanded {
	position: relative;

	.nav__list {
		display: block;
		background: #fff;
		position: absolute;
		z-index: 5;
		top: 62px;
		width: 100%;
		border-radius: 8px;
	}

	.nav__item {
		padding: 0;
		border-bottom: 1px solid rgba($color: #2f2f2f, $alpha: 0.1);

		&:last-of-type {
			border-bottom: none;
		}

		a {
			padding: 2.4rem;
			color: #000;
			font-size: 1.8rem;
			text-shadow: none;
		}
	}

	.nav__brand {
		z-index: 5;
	}

	.nav__toggler {
		background: url(../../images/icon-close-menu.svg) no-repeat center/cover;
		z-index: 5;
	}
}
