.product {
	padding: 2.4rem;
	border: 1px solid rgba($color: #000000, $alpha: 0.15);
	border-radius: 8px;
	margin-bottom: 2.4rem;

	@include tablet {
		padding: 4rem 3.2rem 3.2rem;
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	&__heading {
		@include tablet {
			display: flex;
			justify-content: space-between;
		}
	}

	&__title {
		margin: 0;
	}

	&__badge {
		display: inline-block;
		margin-top: 0.8rem;

		@include tablet {
			margin-top: 0;
		}
	}

	&__description {
		margin: 2.4rem 0 0;
		font-size: 1.4rem;
		color: #7a7a7a;
		line-height: 1.7;

		@include tablet {
			font-size: 1.6rem;
		}
	}

	&__select {
		@include tablet {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__left {
		font-size: 3.2rem;
		font-weight: 700;
		display: flex;
		align-items: center;
		margin: 2.4rem 0;

		@include tablet {
			margin-bottom: 0;
		}

		.left-text {
			font-size: 1.5rem;
			font-weight: 400;
			color: #7a7a7a;
			padding-left: 1rem;
		}
	}

	.btn {
		padding: 1.6rem 3.2rem;
		font-size: 1.4rem;
	}
}

.product.sold-out {
	opacity: 0.4;

	.btn {
		background: rgba($color: #2f2f2f, $alpha: 0.5);
	}
}

// Product Modal
.product.modal {
	position: relative;
	cursor: pointer;

	@include tablet {
		padding: 3.6rem 2.8rem 3.2rem;
	}

	.product__heading {
		display: flex;
		align-items: center;

		@include tablet {
			justify-content: start;
		}
	}

	.product__radio-container {
		width: 24px;
		height: 24px;
		border: 1px solid rgba($color: #000000, $alpha: 0.15);
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 1.6rem;

		@include tablet {
			margin-right: 2.4rem;
		}

		.product__radio {
			width: 12px;
			height: 12px;
			background: #fff;
			border-radius: 100%;
		}
	}

	.product__info {
		@include tablet {
			display: flex;
			align-items: center;
		}
	}

	.product__badge {
		@include tablet {
			margin-left: 1.6rem;
		}
	}

	.product__description {
		@include tablet {
			font-size: 1.5rem;
			padding-left: 4.8rem;
		}
	}

	.product__left {
		font-size: 1.8rem;
		margin-bottom: 0;

		@include tablet {
			margin-top: 0;
			position: absolute;
			top: 36px;
			right: 28px;
		}

		.text-left {
			padding-left: 0.8rem;
		}
	}

	.product__pledge {
		display: none;
	}
}

.product.modal.selected {
	border: 2px solid #3cb3ab;

	.product__radio {
		background: #3cb3ab;
	}

	.product__pledge {
		display: block;
		border-top: 1px solid rgba($color: #000000, $alpha: 0.15);
		margin: 2.4rem -2.4rem 0;
		padding: 2.4rem 2.4rem 0;

		@include tablet {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.pledge__tagline {
			text-align: center;
			margin-top: 0;
			font-size: 1.4rem;
			color: #7a7a7a;

			@include tablet {
				margin-bottom: 0;
				font-size: 1.6rem;
			}
		}

		.pledge__confirm {
			display: flex;
			position: relative;

			input[type='number'] {
				width: 100px;
				border-radius: 33.5px;
				border: 1px solid rgba($color: #000000, $alpha: 0.15);
				padding: 1.6rem 1.6rem 1.6rem 4.2rem;
				font-weight: 700;
				caret-color: #3cb3ab;
				outline: none;
				margin-right: 1.6rem;

				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					appearance: none;
					margin: 0;
				}

				&.error {
					border-color: red;
				}
			}

			.pledge__icon {
				position: absolute;
				top: 16px;
				left: 24px;
				color: #7a7a7a;
			}

			.btn {
				width: 115px;
				padding: 1.6rem 2.4rem;
			}
		}
	}
}
